/* styles pour toutes les pages des documents */
body{
   background: center no-repeat url("../image/fond.jpg");

}
h1{
    color:white;
    text-align: center;
    font-size: 34px;
    letter-spacing: 10px;
}
h2{
    color:lawngreen;
    font-size: 34px;
    letter-spacing: 10px;
}
p{
    color:white;
    font-size: 20px;
}
ul{
    color:white;
    font-size: 18px;
}

h3{
    color:white;
    font-size: 34px;
    text-align: center;
}
ol{
    color: white;
    font-size: 18px;
}

.jeux{
    color:red;
    font-weight: bold;
}
/* id */
#ok{
    color: darkred;
    font-size: 18px;
}
