main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
	text-align: center;

}


nav
{
		width : 150px ;
		border : 1px solid blue ;
	    text-align: left;
	display: inline-block;
	margin-right: 25px;



	vertical-align: top;






}
section
{

    width: 80%;
	display: inline-block;

	margin-right: 1px;






}

article
{
	border : 1px solid red;
	display: inline-block;
	width: 45%;
	margin-right: 25px;
}
aside
{
	border: 1px solid green;
	display: inline-block;
	width: 40%;
	vertical-align: top;

}
h1
{
	margin-top: 0%;
}