main{
	margin:0 auto;  /* permet de centrer à 60% de la page*/
	width: 60%;
}
h1,h2{
	text-align: center;

}
nav{
       float: left;
	   padding-right: 25px;
       border: 1px solid red;
}

#section1{
			float: left;
            width: 37%;
	        padding-bottom: 5px;
	border: 1px solid blue;


}

#section2{

	text-align: left;
	width: 50%;
	padding-bottom: 5px;
	border: 1px solid green;
	float: right;

}
footer{
	clear: both;
	padding-top: 5px;
	text-align: left;
}
